  *{
            margin: 0.0px;
            padding: 0.0px;
            font-family: Arial;
        }
        body{
            background-image: url("./images/pokertisch_cropped.png");
            background-size: 90%;
            background-position: 50% -2.5%;
            background-repeat: no-repeat;
            min-height: 523px;
            min-width: 960px;

        }
        .cards{
            width: 10%;
            max-width: 100%;
            display:block;
            position: absolute;
            margin-left: -300px;
            margin-top: -300px;
        }

        .popup{
            min-width: 800px;
            background: rgba(0, 0, 0, 0.4);
            z-index: 60;
            position: fixed;
            width: 100%;
            height: 100%;
            display: none;
        }
        .popup div{
            font-size: 18px;
            color: white;
            z-index: 200;
            border-radius: 10px;
            margin-top: 5%;
            position: relative;
            margin-left: auto;
            margin-right: auto;
            background: rgba(0, 0, 0, 0.96);
            width: 60%;
            border: 1px solid #222222;

        }
        .popup div p{
           padding: 20px;
        }
        .weiter-btn{
            display: block;
            color: white;
            background-image: -webkit-gradient(
                linear,
                left top,
                left bottom,
                color-stop(0, #DB0000),
                color-stop(0.72, #960000)
            );
            background-image: -o-linear-gradient(bottom, #DB0000 0%, #960000 72%);
            background-image: -moz-linear-gradient(bottom, #DB0000 0%, #960000 72%);
            background-image: -webkit-linear-gradient(bottom, #DB0000 0%, #960000 72%);
            background-image: -ms-linear-gradient(bottom, #DB0000 0%, #960000 72%);
            background-image: linear-gradient(to bottom, #DB0000 0%, #960000 72%);
            text-align: center;
            text-decoration: none;
            min-height: 30px;
            line-height: 30px;
            font-size: 16px;
            width: 120px;
            border-radius: 10px;
        }